BOT_TOKEN=PUT_YOUR_NEW_BOT_TOKEN_HERE
BOT_NAME=MD Supplier Bot
SUPPORT_USERNAME=@bot_MD_global
ADMIN_IDS=8573174269
USDT_BEP20_ADDRESS=0xA2E0c2eC432953Dd2F832488a1EC061e6e761361
MIN_DEPOSIT_USDT=50
DATABASE_PATH=md_supplier_bot.db
